@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*.layoutWrapper{*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 9fr;*/
/*}*/

.matchSetWrapper{

}
.championInput{
  color: black;
  width: 100px;
}
.championInputWrapper{
  display: flex;
  height: 40px;
}
.draftWrapper{
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ban{
  background-color: gray;
}
.blue-pick {
  background-color: lightblue;
}

.red-pick {
  background-color: lightcoral;
}
.red-side{
  display: flex;
  flex-direction: row-reverse;
}