@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.contentWrapper{
  display: grid;
  grid-template-columns: 1fr 9fr;
}
img{
  max-width: 100%;
}
.matchSetWrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.championInput{
  color: #000000;
  padding: 4px;
  width: 100%;
  border: 1px solid #b6b6b6;
}
.championInput:hover{
  cursor: pointer;
}
.championInput:focus{
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px red;
}
.championInput::placeholder{
  color: #373131;
}
.championInputWrapper{
  display: flex;
  height: 36px;
}
.draftWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 280px;
}
.draftWrapper:hover{
  cursor: pointer;
}
.draftTileWrapper{
  margin: 8px 0 8px;
}
.ban{
  background-color: #7e7d7d;
  color: #321111;
}
.blue-pick {
  background-color: #32a4e1;
  font-weight: bold;
}

.red-pick {
  background-color: #ea5f5f;
  font-weight: bold;
}
.red-side{
  display: flex;
  flex-direction: row-reverse;
}
.teamNameInput{
  color: black;
  width: 150px;
  padding: 2px;
}
.teamNameInput:focus{
  outline: none;
}
.teamNameInputWrapper{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0 16px;
}
.displayName{
  width: 280px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.displayName.reverse{
  flex-direction: row-reverse;
}
#confirmSideModal{
  border: solid 1px white;
  text-align: center;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#confirmSideModalAdd{
  border: solid 1px white;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
#confirmSideModalAdd:hover{
  cursor: pointer;
}
#confirmSideModalAdd button{
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}
.sideSelectButtonsWrapper{
  height: 340px;
  display: flex;
  justify-content: space-around;
}
.blueSideButton{
  width: 100%;
  background-color: #18a4d1;
}
.blueSideButton:hover{
  background-color: #27acd6;
}
.redSideButton{
  width: 100%;
  background-color: #ea5f5f;
}
.redSideButton:hover{
  background-color: #f66c6c;
}
.cancelSideSelection{
  background-color: #605d5d;
  padding: 8px;
  height: 50px;
}
.cancelSideSelection:hover{
  background-color: #7e7b7b;
}
#addDraftButton{
  border: 1px solid white;
}
.removeMatchSetWrapper, .addMatchSetWrapper{
  display: flex;
  justify-content: center;
}
.removeDraftButton{
  border: 1px solid white;
  padding: 4px;
  font-size: 12px;
}
.addMatchSetButton{
  border: 1px solid white;
  padding: 8px;
  margin: 22px;
}
.prioPickInput{
  width: 100%;
  color: black;
}
.prioPickInputWrapper{
  display: flex;
  height: 36px;
}
hr{
  margin-bottom: 4px;
}
.firstPicksWrapper{
  border: solid 1px white;
  width: 100%;
}
.blueSideFirstPicks{
  background-color: #32a4e1;
}
.redSideFirstPicks{
  background-color: #ea5f5f;
}
.championFirstPickWrapper{
  display: flex;
  height: 36px;
}
.championFirstPickWrapper input{
  width: 100%;
}
.championFirstPickInput{
  border: 1px solid gray;
  font-weight: bold;
  color: black;
  padding: 4px;
}
.redSideFirstPicks{
  text-align: right;
}
.blueSideFirstPickWrapper{
  flex-direction: row-reverse;
}
.firstPicksInputsWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.removePickButton{
  color: #d13e3e;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border: 1px solid #373737;
  border-radius: 2px;
}