@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #0c0c0c;
  --fontColor: #f1f1f1;
  --draft_border: #ffffff;
  --bluePicksColor: #18a4d1;
  --redPicksColor: #ea5f5f;
  --banColor: #716f6f;
  --placeholderColor: #474444;
}

body {
  color: var(--fontColor);
  background: var(--backgroundColor);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
header{
  display: flex;
  justify-content: space-between;
  padding: 4px 22px 4px 22px;
}
.ravenLogo{
  width: 50px;
}
.contentWrapper{
  display: grid;
  grid-template-columns: 1fr 9fr;
}
img{
  max-width: 100%;
}
.matchSetWrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.championInput{
  color: var(--fontColor);
  padding: 4px;
  width: 100%;
}
.championInput:hover{
  cursor: pointer;
}
.championInput:focus{
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px red;
}
.championInput::placeholder{
  color: var(--placeholderColor);
}
.championInputWrapper{
  display: flex;
  height: 36px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.draftWrapper{
  gap: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 280px;
  padding: 0 1px 0 1px;
  background-color: var(--draft_border);
}
.draftWrapper:hover{
  cursor: pointer;
}
.draftTileWrapper{
  margin: 8px 0 8px;
}
.ban{
  background-color: var(--banColor);
  color: var(--fontColor);
}
.blue-pick {
  background-color: var(--bluePicksColor);
  font-weight: bold;
}

.red-pick {
  background-color: var(--redPicksColor);
  font-weight: bold;
}
.red-side{
  display: flex;
  flex-direction: row-reverse;
}
.teamNameInput{
  color: black;
  width: 150px;
  padding: 2px;
}
.teamNameInput:focus{
  outline: none;
}
.teamNameInputWrapper{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0 16px;
}
.displayName{
  width: 280px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.displayName.reverse{
  flex-direction: row-reverse;
}
#confirmSideModal{
  border: solid 1px white;
  text-align: center;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#confirmSideModalAdd{
  border: solid 1px white;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
#confirmSideModalAdd:hover{
  cursor: pointer;
}
#confirmSideModalAdd button{
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}
.sideSelectButtonsWrapper{
  height: 340px;
  display: flex;
  justify-content: space-around;
}
.blueSideButton{
  width: 100%;
  background-color: #18a4d1;
}
.blueSideButton:hover{
  background-color: #27acd6;
}
.redSideButton{
  width: 100%;
  background-color: #ea5f5f;
}
.redSideButton:hover{
  background-color: #f66c6c;
}
.cancelSideSelection{
  background-color: #605d5d;
  padding: 8px;
  height: 50px;
}
.cancelSideSelection:hover{
  background-color: #7e7b7b;
}
#addDraftButton{
  border: 1px solid white;
}
.removeMatchSetWrapper, .addMatchSetWrapper{
  display: flex;
  justify-content: center;
}
.removeDraftButton{
  border: 1px solid white;
  padding: 4px;
  font-size: 12px;
}
.addMatchSetButton{
  border: 1px solid white;
  padding: 8px;
  margin: 22px;
}
.prioPickInput{
  width: 100%;
  color: var(--fontColor);
}
.prioPickInputWrapper{
  display: flex;
  height: 36px;
}
hr{
  margin-bottom: 4px;
}
.firstPicksWrapper{
  width: 100%;
}
.blueSideFirstPicks{
  background-color: var(--bluePicksColor);
}
.redSideFirstPicks{
  background-color: var(--redPicksColor);
}
.championFirstPickWrapper{
  display: flex;
  height: 36px;
}
.championFirstPickWrapper input{
  width: 100%;
}
.championFirstPickWrapper img{
  width: 36px;
}
.firstPicksVerticalWrapper{
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: var(--draft_border);
  padding-top: 1px;
}
.championFirstPickInput{
  box-sizing:border-box;
  font-weight: bold;
  color: black;
  padding: 4px;
}
.redSideFirstPicks{
  text-align: right;
}
.blueSideFirstPickWrapper{
  flex-direction: row-reverse;
}
.firstPicksInputsWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.addChampionButtonWrapper{
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
}
.removePickButton{
  color: #d13e3e;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border: 1px solid #6e6e6e;
  border-radius: 2px;
  background-color: var(--backgroundColor);
}
.testDiv{
  background-color: var(--draft_border);
  width: 200px;
  height: 200px;
}